@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f1115; /* Matches admin-dark */
  font-family: 'Inter', sans-serif; /* Ensure you have a font or system default */
}
